/* <!-- New boxes to be shown when box2 is clicked -->
<div id="new-boxes" style="display: none;">
    <div class="BOG"> <img src="../photos/bog.png" alt="" width="95px"></div>
    <div class="TBC"><img src="../photos/tbc.svg.png" alt="" width="75px"></div>
</div> */
@font-face {
    font-family: "CustomFont";
    src: url("../Fonts/NotoSansGeorgian.ttf") format("truetype");
  }
  @font-face {
    font-family: "CustomFont2";
    src: url("../Fonts/bpg_mrgvlovani_caps_2010.ttf") format("truetype");
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow: hidden;
    /* cursor: none; */
  }
  
  .administration-main-grid-container {
    width: 120vh;
    display: grid;
    grid-template-columns: 260px 1fr 1fr;
    grid-template-rows: 1fr 0px;
    
  }
  /* left sidebar */
  .categories-list-grid a:link,
  .categories-list-grid a:visited {
    text-decoration: none;
    color: #fff;
  }
  .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    opacity: 0;
  }
  .amdmin-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-decoration: none;
    height: 5vh;
    margin-top: 5vh;
  }
  /* .logo {
    margin-top: px;
    margin-left: px;
  } */
  /* logout */
  #logoutBtn {
    background-color: transparent;
    width: 15vw;
    height: 5vw;
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
  }
  /* logout */
  .categories-list {
    background-color: #2f247a;
    width: 100%;
    max-width: 25vh;
    height: 100vh;
  }
  .categories-list-grid {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    gap: 0.8vh;
    color: #fff;
  }
  .list-item {
    width:100%;
    max-width:25vh;
    height:3.1vw;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#5a519c;
    font-size: 1.9vw;
    font-weight:bold;
  }
  .list-item:hover {
    background-color: #f4a304;
    color: #2f247a;
  }
  .active {
    background-color: #f4a304;
    color: #2f247a;
  }
  /* left sidebar end*/
  
  /* search */
  .search-bar-container {
    padding: 1vw 8vw 0;
    width: 100%;
    max-width: 50vh;
  }
  .search-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .search-input {
    height: 5vh;
    width: 20vh;
    border: none;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 2vw;
  }
  .search-icon {
    position: relative;
    overflow: hidden;
    width: 5vw;
    height: 6vw;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .search-icon img {
    padding: 1.5vw;
    background-color: #3e3389;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -40px;
    margin-left: -30px;
  }
  /* search end*/
  
  /* product  */
  .products-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 10px; 
    margin-top: 0px;
    gap: 2vh;
  }
  .product {
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.1);
    width:13vh;
    height:18vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:3vh;
    cursor:pointer;
    border-radius:10px;
    background-color: white;
  }
  .product-price {
    color:#3e3389;
    font-family:"Noto Sans Georgian";
    font-weight:bold;
    font-size:3vh;
    line-height:0px;
    text-align:left;
  }
  .product-img-container {
    width: 13vh;
  }
  .product-img-container .product-img {
    width: 13vh;
  }
  .product-name {
    font-family: "Noto Sans Georgian";
    font-style: bold;
    font-weight: 700;
    font-size: 2.5vh;
    line-height: 0px;
    text-align: center;
    color: #000000;
  }
  /* product end */
  
  /* right sidebar */
  .right-basket-container {
    overflow: hidden;
    height: 65vh;
    max-height: 90vh;
    width: 49vw;
    max-width: 105vw;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  .product-title {
    font-size:1.6vw;
    font-weight: bold;
    text-align: left;
    margin-right: 10px;
  }
  .basket-titles {
    display: flex;
    justify-content: space-between;
  }
  .right-container {
    font-family: "CustomFont";
    position: relative;
    background-color: #f2f2f2;
    width: 48.9vw;
    max-width: 105vw;
    height: 90vh;
    max-height: 120vh;
    margin-left: 235px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .terminal {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 2.5px solid white;
    height: 7vh;
  }
  .terminal img {
    margin-left: 45vw;
    cursor: pointer;
  }
  input {
    border: none;
    width: 60px;
    background-color: white;
    text-align: center;
    font-weight: bold;
  }
  
  /* right sidebar end */
  
  /* footer */
  .mini-footer .custom-button {
    display: inline-block;
    margin-left: 2vw;
    gap: 2vw;
  }
  .mini-footer {
    top: 2vh;
  }
  .mini-footer .order-button {
    display: inline-block;
    width: 360px;
    height: 10vh;
    background-color: #e69902;
    margin-left: 12.9vw;
    margin-top: -13vh;
    border-color: none;
  }
  .mini-footer .save-button {
    display: inline-block;
    margin-left: 1vw;
    width: 360px;
    height: 10vh;
    background-color: #068a01;
    margin-left: 32vw;
    margin-top: -18vh;
  }
  .pay-container {
    font-family: "CustomFont2";
    background-color: #2f247a;
    width: 46vw;
    height: 10vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    margin-left: 51vw;
    margin-top: -15vh;
    color: white;
    /* cursor: none; */
  }
  .dots {
    background-color: #2f247a;
    height: 10vh;
    width: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: -2.9vw;
  }
  .orders img,
  .saves img {
    cursor: pointer;
    width: 4vw;
  }
  .paymentsMade {
    color: rgb(194, 191, 191);
    font-size: 1.3vw;
  }
  .price-sum {
    font-size: 4vh;
    flex-direction: column;
  }
  /* footer end */
  .close-administration-container a {
    display: flex;
    gap: 30px;
    text-decoration: none;
  }
  .close {
    color: #fff;
    font-size: 23px;
    font-weight: 700;
  }
  .basket-titles {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.1fr 1fr;
    padding: 14px 29px 2px;
    color: #2f247a;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: white;
  }
  .basket-product {
    display: grid;
    align-items: center;
    gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    border-bottom: 1.5px solid #a89c9c;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-color: white;
    padding-right: 0;
    font-family: "BPG Nino Mtavruli";
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .delete-icon {
    padding: 10px;
    background: #f31830;
    border-radius: 15px;
    cursor: pointer;
    width: 5.5vh;
    margin-left: -10px;
  }
  .saved-text {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    color: green;
    text-align: center;
    width: 70%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 15px 15px rgba(0.25, 0.25, 0.25, 0.25);
  }
  .okBtn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: black;
    cursor: pointer;
  }
  .popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border: 0.5px solid black;
    background-color: #fafafa;
    text-align: center;
    border-radius: 40px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .yes-buttons {
    border: none;
    padding: 25px 34px;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 40px;
    background-color: green;
    color: white;
    max-width: 300px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .no-buttons {
    border: none;
    padding: 25px 34px;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 40px;
    background-color: red;
    color: white;
    max-width: 250px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
  #reset-button {
    color: red;
    border: none;
    cursor: pointer;
  }
  .alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .alert-box::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    z-index: -1;
  }
  .alert-box::after {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #f00;
    border-radius: 10px;
    z-index: -2;
  }
  #confirmation-dialog {
    position: absolute;
    top: 0;
    z-index: 9999;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    margin-top: 450px;
  }
  /* pay  */
  #big-box {
    position: relative;
    height: 450px;
    width: 100%;
    background-color: #f4a304;
    margin-top: -320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .box1 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 7vw;
    max-height: 7vw;
    width: 40vw;
    max-width: 20vw;
    background-color: #2f247a;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
  }
  .box2 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 7vw;
    max-height: 7vw;
    width: 40vw;
    max-width: 20vw;
    background-color: #309e3a;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
  }
  .TBC{
    position: absolute;
    top: 70%;
    left: 85%;
    transform: translate(-50%, -50%);
    height: 7vw;
    max-height: 7vw;
    width: 8vw;
    max-width: 20vw;
    background-color: white;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
  }
  .BOG{
    position: absolute;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
    height: 7vw;
    max-height: 7vw;
    width: 8vw;
    max-width: 20vw;
    background-color: white;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
  }
  
  .cashmargin,
  .visamargin {
    text-align: center;
    margin-left: 2px;
  }
  .buttonpay {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
  }
  .categories-list-grid a,
  .categories-list-grid div {
    cursor: pointer;
  }
  /* pay keyboard */
  #calc-button {
    border: transparent;
    background-color: transparent;
  }
  .bigger-key {
    width: 3vw;
    height: 3vw;
    max-width: 3vw;
    max-height: 3vw;
    font-size: 2vw;
  }
  .input-numericmain {
    width: 100%;
    max-width: 600px;
    height: 600px;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    right: 5%;
    bottom: 20px;
    border-radius: 40px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
  }
  .dot{
    background-color: red;
    height: 4vw;
  }
  .input-numeric {
    padding: 0.8em 0.2em;
    margin-bottom: 1em;
    margin-left: 0em;
    border: 1px solid black;
    border-radius: 40px;
    width: 60%;
    height: 50px;
    padding: 5px;
    font-size: 4vw;
  }
  .prc {
    font-size: 3vw;
    font-weight: bold;
    margin-left: 10px;
  }
  .table-numeric button {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    padding: 1em 0.9em;
    font-size: 2.5vw;
    border-radius: 1em;
    margin-top: -25px;
    margin-left:8px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
  }
  .key-del {
    background: red;
    border: 1px solid #d8d6d6;
  }
  .agree {
    background-color: green;
    border: none;
    height: 100px;
    width: 270px;
    margin-left: 5%;
    margin-top: -10px;
    border-radius: 40px;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  }
  .cancel {
    background-color: #de2702;
    border: none;
    height: 100px;
    width: 270px;
    margin-left:53%;
    border-radius: 40px;
    border: 1px solid black;
    margin-top: -100px;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    justify-content: center;
  }
  button {
    cursor: pointer;
  }
  #hidden-content {
    display: none;
  }
  #reveal-button:focus + #hidden-content {
    display: block;
  }
  .calcbutton {
    background-color: transparent;
    border: none;
  }
  /* pay keyboard */
  
  /* keyboard  */
  .virtual-keyboard-container {
    position: fixed;
    right: 10%;
    top: 20%;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: lightgray;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
    width: 450px;
    height: 410px;
  }
  .virtual-keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 90%;
    max-width: 350px;
    margin: 20px auto;
    font-size: 200px;
  }
  .virtual-keyboard button {
    width: 40%;
    height: 60px;
    font-size: 12px;
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
  }
  .virtual-keyboard button:hover {
    background-color: #f2f2f2;
  }
  .virtual-keyboard button:focus {
    outline: none;
    background-color: #e6e6e6;
  }
  .virtual-keyboard button:active {
    background-color: #d9d9d9;
  }
  .virtual-keyboard button.delete-button {
    background-color: red;
    color: #fff;
    border: none;
    width: 26%;
    height: 70px;
    font-size: 1.9vw;
    font-weight: bold;
  }
  .virtual-keyboard button.hide-button {
    background-color: green;
    color: #fff;
    border: none;
    width: 26%;
    height: 70px;
    font-size: 1.9vw;
    font-weight: bold;
    display: block;
  }
  /* keyboard  */
  #numeric-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-numericmain {
    margin-top: 20px;
  }
  .table-numeric {
    margin-top: 20px;
  }
  
  .table-numeric td {
    padding: 10px;
  }
  .key {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  .key-del {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background: none;
  }
  /* keyboard  */